body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    color: #888;
    font-size: 0.9em;
}

.product-item button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #0056b3;
}

/* Estilos para la barra de búsqueda */
#search-bar {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para los botones de categorías */
.category-buttons {
    margin-bottom: 20px; /* Espacio debajo de los botones */
}

.category-buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.category-buttons button:hover {
    background-color: #0056b3;
}
