body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: relative;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: -250px; /* Inicialmente escondido a la derecha */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease;
}

.nav-list.active {
    right: 0; /* Muestra el menú */
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.nav-list a:hover {
    background-color: #575757;
}
