/* Estilos para la lista de productos */
.product-list {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
    margin: 40px auto;
    width: 100%; /* Asegura que la lista tome todo el ancho del contenedor */
    background-color: white;
}

.product-item {
    display: flex; /* Utilizar flexbox para organizar los elementos */
    justify-content: space-between; /* Distribuir elementos con espacio entre ellos */
    align-items: center; /* Alinear elementos verticalmente en el centro */
    width: 95%; /* Hacer que cada producto ocupe todo el ancho disponible */
    padding: 20px;
    border-bottom: 1px solid #ddd; /* Añadir un borde debajo de cada elemento */
    margin-bottom: 10px;
    background-color: #f9f9f9; /* Añadir un fondo claro para cada producto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para destacar */
}

.product-item img {
    width: 150px; /* Ajustar el ancho de la imagen */
    height: auto;
    margin-right: 20px;
}

.product-item .product-info {
    flex: 1; /* Permitir que el contenedor de información tome el espacio restante */
    margin-right: 20px; /* Espacio entre el texto y el botón */
}

.product-item h3 {
    margin: 0 0 10px 0;
    font-size: 1.5em; /* Tamaño de fuente más grande */
}

.product-item p {
    margin: 5px 0;
    font-size: 1em;
    line-height: 1.4; /* Mejorar la legibilidad */
}

.product-item button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end; /* Alinear el botón al final del contenedor flex */
}

.product-item button:hover {
    background-color: #0056b3;
}
