@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #991D5D;
    color: #333333;
}

.encabezado {
    background-color: #471754;
    padding: 10px 10px;
    border-bottom: 2px solid #DEC87A;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 15px;
}

.logo img {
    width: 18vh;
    height: auto;
    margin-right: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nombre {
    font-size: 24px;
    font-weight: bold;
    color: #DEC87A;
}

.menu-inicial,
.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu-items li:hover {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    transform: translateY(-2px);
}

.menu-inicial a,
.menu-items a,
#boton_hamburguesa {
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.menu-inicial a:hover,
.menu-items .li a:hover,
#boton_hamburguesa:hover {
    border-radius: 25px;
    background-color: #991D5D;
    color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.menu-inicial {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    border-left: 1px solid #DEC87A;
    border-right: 1px solid #DEC87A;
}

.menu-desplegable {
    position: relative;
    margin: 10px;
}

.menu-desplegable button {
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 550;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.menu-desplegable button:hover {
    background-color: #991D5D;
    color: #FFFFFF;
    border-radius: 25px;
    transform: translateY(-2px);
}

.submenu {
    position: absolute;
    display: flex;
    top: 100%;
    background-color: #471754;
    display: none;
    border: 1px solid #DEC87A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    z-index: 1000;
}

.submenu li {
    border-bottom: 1px solid #DEC87A;
    display: block;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu li a {
    color: #FFFFFF;
    padding: 10px 15px;
    display: block;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.submenu li a:hover {
    background-color: #991D5D;
    border-radius: 25px;
}

.menu-desplegable:hover .submenu {
    display: block;
}

/*--------------Buscador----------------*/
.buscador {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.buscador input {
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 10px;
    outline: none;
    opacity: 0;
    width: 0;
    visibility: hidden;
    animation: hideInput 0.3s ease forwards;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.buscador.active input {
    opacity: 1;
    width: 80%;
    margin-right: 50px;
    visibility: visible;
    animation: showInput 0.3s ease forwards;
}

@keyframes showInput {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 80%;
    }
}

@keyframes hideInput {
    from {
        opacity: 1;
        width: 80%;
    }

    to {
        opacity: 0;
        width: 0;
    }
}

.buscador button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.buscador button img,
.menu-items li a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: cover;
}

.buscador button img,
.menu-items img {
    background-color: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.buscador input {
    box-shadow: 0px 4px 8px #F2445E;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*-------------Carrito-------------------*/

#carrito_li {
    margin-left: 20px;
}
/*-----------------------Menu Hamburguesa-------------------------*/
#menu_hamburguesa {
    display: none;
    background-color: #471754;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 0;
    border: 1px solid #DEC87A;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#menu_hamburguesa li {
    padding: 15px 0;
    border-bottom: 1px solid #DEC87A;
}

#menu_hamburguesa li:last-child {
    border-bottom: none;
}

#menu_hamburguesa li a {
    color: #FFFFFF;
    font-size: 18px;
    padding: 4px;
    text-decoration: none;
    display: block;
}

#boton_hamburguesa {
    background-color: #471754;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#boton_hamburguesa:hover {
    background-color: #991D5D;
    color: #FFFFFF;
    transform: scale(1.1);
}

#menu_hamburguesa li:hover {
    background-color: #991D5D;
    border-radius: 25px;
}

#menu_hamburguesa.mostrando {
    display: flex;
    flex-direction: column;
    width: 10%;
    border-radius: 25px;
}

#boton_hamburguesa span.rotar {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

/*Carrusel*/

.carrusel-container {
    position: relative;
    margin: 40px auto;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    border: 2px solid #DEC87A;
    border-radius: 10px;
    background-color: #f07951;
    padding-bottom: 40px; /* Espacio para los indicadores */
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-item {
    min-width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carrusel-item img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px; /* Ajusta el tamaño de la imagen de la flecha */
    height: 120px; /* Ajusta el tamaño de la imagen de la flecha */
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.nav-btn:hover {
    opacity: 1;
}

.anterior {
    left: 10px; /* Ajusta la posición de la imagen de la flecha izquierda */
}

.siguiente {
    right: 10px; /* Ajusta la posición de la imagen de la flecha derecha */
}

.carrusel-indicadores {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.indicador {
    width: 10px;
    height: 10px;
    background-color: #DEC87A;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicador.activo {
    background-color: #471754;
}

#logo {
    width: 20%;
    height: 20%;
}

.contenedor-login {
    display: flex;
    justify-content: space-evenly;
}

.contenedor-formulario {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

#logo img {
    width: 100px;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.titulo-login {
    font-size: 24px;
    font-weight: 600;
    color: #471754;
    margin-bottom: 20px;
}

label {
    width: 100%;
    font-weight: 500;
    color: #333333;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #471754;
    box-shadow: 0 0 5px rgba(71, 23, 84, 0.3);
}

button#iniciar_sesion {
    width: 100%;
    padding: 10px;
    background-color: #991D5D;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button#iniciar_sesion:hover {
    background-color: #471754;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.formulario a {
    color: #991D5D;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.formulario a:hover {
    color: #471754;
}

/*Pie de Pagina*/

.footer {
    background-color: #471754;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.redes-sociales {
    margin-bottom: 15px;
}

.redes-sociales a {
    color: #DEC87A;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.redes-sociales a:hover {
    color: #F2445E;
    transform: scale(1.2);
}

.footer p {
    margin: 10px 0;
}

.footer a {
    color: #F2445E;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
    transition: color 0.3s ease;
}

.footer a::after {
    content: '';
    display: block;
    height: 2px;
    background: #F2445E;
    transition: width 0.3s ease;
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

footer a:hover::after {
    width: 100%;
}